* {
    font-family: Arial, Helvetica, sans-serif;
}

.page-ps {
    position: relative;
}

header {
    position: fixed;
    width: 100%;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}

.container {
    width: 80%;
}

.custom-button {
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    outline: 2px solid transparent;
}

img {
    border-radius: 20px;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #2c64e6;
}




/* ------------- utility */



/* pre navbar */
.pre-navbar {
    background-color: #000;
}

.box-pre-navbar {
    width: 100px;
}

/* navbar */
.navbar-brand img {
    width: 55px;
    height: 49px;
}

.nav-item {
    font-weight: bold;
}

.button-nav {
    background-color: #363636;
    color: #fff;
}

.button-nav:hover {
    outline: 2px solid #363636;
    border: 1px solid white;
    color: #fff;
    transition: all .3s;
    opacity: 0.9;
}

/* jumbo returnal */
.jumbo-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-position-y: 100px;
}

.box-banner img {
    width: 50%;
}

.banner-area {   /* valido per entrambi i jumbo */
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100vh;
}

.banner-area button {   
    width: 150px;
    background-color: #cd3d0f;
    color: #fff;
    border: 1px solid #cd3d0f;
}

.banner-area button:hover {
    outline: 2px solid #cd3d0f;
    border: 1px solid black;
    transition: all .3s;
}

/* area ps5 */

.old-releases-games img:hover {
    transform: translateY(-10px);
    transition: all .5s;
}

.no-limits {
    color: #0f7ad0;
}

.console-ps5 button {
    background-color: #2c64e6;
    color: #fff;
    outline: 2px solid transparent;
}

.console-ps5 button:hover {
    outline: 2px solid #2c64e6;
    border: 1px solid #fff;
    transition: all .3s;
}

.opacity-custom {
    opacity: 0.7;
}

.device-ps5 img:hover {
    opacity: 1;
    transition: all .3s;
}

/* jumbo it takes two */
.jumbo-takes2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* nuove uscite */
.new-releases {
    background-color: #1f1f1f;
    color: #fff;
}

/* area ps4 */
.area-ps4 button {
    background-color: #2c64e6;
    color: #fff;
}

.area-ps4 button:hover {
    outline: 2px solid #2c64e6;
    border: 1px solid #fff;
    transition: all .3s;
}

/* ps plus section */
.psplus-section {
    background-color: gray;
}

.psplus-section button {
    background-color: #d9dadc;
    color: #2f66e6;
}

.psplus-section button:hover {
    outline: 2px solid #d9dadc;
    border: 1px solid #2f66e6;
    transition: all .3s;
}

/* ps now section */
.psnow-section {
    background-color: #161c3b;
    color: #fff;
}

.psnow-section button:hover {
    outline: 2px solid #fff;
    border: 1px solid #161c3b;
    transition: all .3s;
}

/* social section */
.container-social {
    width: 35%;
    margin: 0 auto;
}


/* footer section */
footer {
    background-color: #00439c;
    color: #fff;
 
}

.logo-ps-footer {
    width: 50px;
    height: 50px;
    background: url(../img/ps-footer.svg) no-repeat;
    background-size: contain;
}

.links-group {
    display: flex;
    flex-direction: column;
}

.vintage-sony img {
    width: 100px;
}

.links-group a {
    text-decoration: none;
}

footer a {
    color: #fff;
}

